@model List<Slider> 
<div class="row">
    <div class="col-xl-12">
        <div class="hot-carousel owl-carousel">
            @foreach (var item in Model)
            {
            <div class="single-post-2">
                <a href="@item.IconUrl" target="_blank">
                    <img src="~/Public/images/post/@item.Photo" alt="">
                    <i class="fa @item.Icon"></i>
                </a>
                <div class="post-inside-content">
                    <h2><a href="#">@item.Tittle</a></h2>
                    <div class="post-meta">
                        <a href="#" class="author">@item.Author.Name</a>
                        <a href="#" class="date">@item.Date.ToString("MMMM dd,yyy")</a>
                    </div>
                </div>
            </div>
            }
            
            
        </div>
    </div>
</div>
