@model NewsViewModel
  <!--Breadcrumb-->
<section class="breadcrumb-section gray-bg-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li>Travel</li>
                </ul>
                <div class="banner-title">
                    <h2>Travel</h2>
                </div>
            </div>
        </div>
    </div>
</section><!--/Breadcrumb-->
<!--Content Section-->
<section class="section-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6">
                <div class="row">
                    <div class="col-xl-12">
                        @foreach (var item in Model.MoreNews)
                        {
                            <div class="single-post-3">
                                <div class="list-post-img">
                                    <img src="~/Uploads/@item.Photo" alt="">
                                    <a class="tag  @item.Category.Color" href="#">@item.Category.Name</a>
                                </div>
                                <div class="list-post-content">
                                    <h4><a href="#">@item.Tittle</a></h4>
                                    <p>@item.Description</p>
                                    <div class="post-date">@item.Date.ToString("MMMM dd,yyy")</div>
                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <aside class="site-sidebar">
                    @{
                        Html.RenderPartial("~/Views/Shared/_QuikLink.cshtml");
                    }
                    @{
                        Html.RenderPartial("~/Views/Shared/_Lastest.cshtml");
                    }
                    @{
                        Html.RenderPartial("~/Views/Shared/_Categories.cshtml");
                    }
                    @{
                        Html.RenderPartial("~/Views/Shared/_sociallink.cshtml");
                    }
                </aside>
            </div>
        </div>
    </div>
</section><!--/Content Section-->
<!--Content Section-->
<section class="section-padding-2 gray-bg">
    <div class="container">

        @{
            Html.RenderPartial("~/Views/Shared/_Slider.cshtml",model:Model.Sliders);
        }
    </div>
</section><!--/Content Section-->