@model HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<!--Hero Section-->
<section class="hero-area gray-bg">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.News.Take(3))
            {
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="single-post">
                    <a href="#"><img src="~/Uploads/post/@item.Photo" alt=""></a>
                    <div class="post-inside-content">
                        <div class="category-tag"><a href="#" class="@item.Category.Color">@item.Category.Name</a></div>
                        <h2><a href="#">@item.Tittle</a></h2>
                        <div class="post-meta">
                            <a href="#" class="author">@item.Author.Name</a>
                            <a href="#" class="date">@item.Date.ToString("MMMM dd,yyy")</a>
                        </div>
                    </div>
                </div>
            </div>
            }
            
            
            
        </div>
        <div class="row">
    @foreach (var item in Model.News.Skip(3).Take(4))
    {
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-post">
                    <a href="#"><img src="~/Uploads/post/@item.Photo" alt=""></a>
                    <div class="post-inside-content">
                        <div class="category-tag"><a href="#" class="@item.Category.Color">@item.Category.Name</a></div>
                        <h2><a href="#">@item.Tittle</a></h2>
                        <div class="post-meta">
                            <a href="#" class="author">@item.Author.Name</a>
                            <a href="#" class="date">@item.Date.ToString("MMMM dd,yyy")</a>
                        </div>
                    </div>
                </div>
            </div>
    }
            
     

            
          
            
            
        </div>
    </div>
</section><!--Hero Section-->
<!--Content Section-->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-title">
                            <h2><a href="#">fashion</a></h2>
                           
                        </div>
                    </div>
                    <div class="col-xl-12">
                        
                        <div class="row single-post-2">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <a href="#"><img src="~/Uploads/post/@Model.FashionItem.Photo" alt=""></a>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="post-inside-content">
                                    <div class="category-tag"><a href="#" class="primary-bg">@Model.FashionItem.Category.Name</a></div>
                                    <h2><a href="#">@Model.FashionItem.Tittle</a></h2>
                                    <p>@Model.FashionItem.Description</p>
                                    <div class="post-meta">
                                        <a href="#" class="author">@Model.FashionItem.Author.Name</a>
                                        <a href="#" class="date">@Model.FashionItem.Date.ToString("MMMM dd,yyy")</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @foreach (var item in Model.FashionItems)
                    {
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="single-post-2">
                        <a href="#"><img src="~/Uploads/post/@item.Photo" alt=""></a>
                        <div class="post-inside-content">
                            <h2><a href="#">@item.Tittle</a></h2>
                            <div class="post-meta">
                                <a href="#" class="author">@item.Author.Name</a>
                                <a href="#" class="date">@item.Date.ToString("MMMM dd,yyy")<a>
                            </div>
                        </div>
                    </div>
                </div>
                    }

                </div>


                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-title">
                            <h2><a href="#">Popular News</a></h2>
                        </div>
                    </div>
                </div>

                <div class="post-carousel owl-carousel mb-30">
                   
                        <div class="row">


                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">

                                <div class="single-post">
                                    <a href="#"><img src="~/Uploads/post/@Model.PopularNews.Photo" alt=""></a>
                                    <div class="post-inside-content">
                                        <div class="category-tag"><a href="#" class="@Model.PopularNews.Category.Color">@Model.PopularNews.Category.Name</a></div>
                                        <h2><a href="#">@Model.PopularNews.Tittle</a></h2>
                                        <div class="post-meta">
                                            <a href="#" class="author">@Model.PopularNews.Author.Name</a>
                                            <a href="#" class="date">@Model.PopularNews.Date.ToString("MMMM dd,yyy")</a>
                                        </div>
                                    </div>
                                </div>
                                


                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              @foreach (var p in Model.Populars)
                              {
                                <div class="single-list-post">
                                    <div class="list-post-img">
                                        <a href="#"><img src="~/Uploads/post/@p.Photo" alt=""></a>
                                    </div>
                                    <div class="list-post-content">
                                        <a href="#" class="cl-green">@p.Category.Name</a>
                                        <h4><a href="#">@p.Tittle</a></h4>
                                        <div class="post-date">@p.Date.ToString("MMMM dd,yyy")</div>
                                    </div>
                                </div>
                              }
                                    
                                

                            </div>



                        </div>
                    





                </div>

                <div class="row mb-30">
                    <div class="col-xl-12">
                        <div class="ads">
                            <a href="#"><img src="~/Public/images/ads728.jpg" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-title">
                            <h2><a href="#">Politics</a></h2>
                          
                        </div>
                    </div>
                    @foreach (var item in Model.Politics)
                    {
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="single-post-2">
                        <a href="@item.IconUrl" target="_blank">
                            <img src="~/Uploads/post/@item.Photo" alt="">
                            <i class="fa @item.Icon"></i>
                        </a>
                        <div class="post-inside-content">
                            <h2><a href="#">@item.Tittle</a></h2>
                            <div class="post-meta">
                                <a href="#" class="author">@item.Author.Name</a>
                                <a href="#" class="date">@item.Date.ToString("MMMM dd,yyy")</a>
                            </div>
                        </div>
                    </div>
                </div>
                    }
                    
                    
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-title">
                            <h2><a href="#">Most Views</a></h2>
                        </div>
                    </div>
                </div>
                <div class="post-carousel owl-carousel">
                    @foreach (var item in Model.MostViews)
                    {
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="row single-post-2">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <a href="#"><img src="~/Uploads/post/@item.Photo" alt=""></a>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="post-inside-content">
                                        <div class="category-tag"><a href="#" class="@item.Category.Color">@item.Category.Name</a></div>
                                        <h2><a href="#">@item.Tittle</a></h2>
                                        <p> @item.Description</p>
                                        <div class="post-meta">
                                            <a href="#" class="author">@item.Author.Name</a>
                                            <a href="#" class="date">@item.Date.ToString("MMMM dd,yyy")</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    
                    
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-title">
                            <h2><a href="#">More News</a></h2>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        @foreach (var item in Model.MoreNews)
                        {
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Uploads/post/@item.Photo" alt="">
                                <a class="tag  @item.Category.Color" href="#">@item.Category.Name</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">@item.Tittle</a></h4>
                                <p>@item.Description</p>
                                <div class="post-date">@item.Date.ToString("MMMM dd,yyy")</div>
                            </div>
                        </div>
                        }

                        
                    </div>
                    <div class="col-xl-12 centered">
                        <a class="bttn-mid btn-emt w-100" href="#">Load more</a>
                    </div>
                </div>

            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <aside class="site-sidebar">
                    @{
                        Html.RenderPartial("~/Views/Shared/_Categories.cshtml");
                    }
                    @{
                        Html.RenderPartial("~/Views/Shared/_Lastest.cshtml");
                    }

                    @{
                        Html.RenderPartial("~/Views/Shared/_Sociallink.cshtml");
                    }

                 
                  
                   
                </aside>
            </div>
        </div>
    </div>
</section><!--/Content Section-->
<!--Full Content Section-->
<section class="section-padding-2 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="full-carousel owl-carousel">
                    @foreach (var item in Model.News.Take(5))
                    {
                    <div class="single-post">
                        <a href="#"><img src="~/Uploads/post/@item.Photo" alt=""></a>
                        <div class="post-inside-content">
                            <div class="category-tag"><a href="#" class="@item.Category.Color">@item.Category.Name</a></div>
                            <h2><a href="#">@item.Tittle</a></h2>
                            <div class="post-meta">
                                <a href="#" class="author">@item.Author.Name</a>
                                <a href="#" class="date">@item.Date.ToString("MMM dd,yyy")</a>
                            </div>
                        </div>
                    </div>
                    }
                    
                    
                </div>
            </div>
        </div>
    </div>
</section><!--/Full Content Section-->
<!--Content Section-->
<section class="section-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                @{
                    Html.RenderPartial("~/Views/Shared/_QuikLink.cshtml");

                }
            </div>
            <div class="col-xl-8">
                @foreach (var item in Model.News.Take(3))
                {
                <div class="thumbnail-post " style="background-image:url('/Uploads/post/@item.Photo')  ">
                    <div class="category-tag">
                        <a href="#" class="cl-yellow">@item.Category.Name</a>
                    </div>
                    <h3><a href="#">@item.Description</a></h3>
                </div>
                }
                
               
                
            </div>
           
        </div>
      @{ 
          Html.RenderPartial("~/Views/Shared/_Slider.cshtml",model:Model.Sliders);
      }
    </div>
</section><!--/Content Section-->
