@model IEnumerable<Meverex.Models.ContactMessage>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="card-header">
        <a href="@Url.Action("index")" class="btn btn-outline-primary"> Smslerim</a>
    </div>
    <div class="card-body">

        <table class="table table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Desc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>


                        <a href="@Url.Action("delete",new { id = item.Id })" class="text-danger sweet-delete">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $(".sweet-delete").click(function (event) {
                event.preventDefault();
                var sweet = $(this);
                Swal.fire({
                    title: 'Eminsiniz?',
                    text: "Melumatlariniz Silinecek",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Beli'
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: sweet.attr("href"),
                            success: function () {
                                Swal.fire(
                                    'Deactivated!',
                                    'Your file has been deactivated.',
                                    'success'
                                ).then(function (result) {
                                    if (result.value) {
                                        location.reload();
                                    }
                                })
                            }
                        });
                    }
                })
            });
        });
    </script>
}
