@model PostViewModel
@{
    ViewBag.Title = "Index";
}

<!--Breadcrumb-->
<section class="custom-banner section-padding dark-overlay-2" style="background: url('assets/images/category/fashion/custom-banner.jpg') no-repeat center / cover;">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-xl-8 centered">
                        <div class="category-tag">
                            <a href="#" class="primary-bg">Fashion</a>
                        </div>
                        <div class="banner-title">
                            <h2>how people changed their fashion day by day and having smart and polite</h2>
                        </div>
                        <div class="meta">
                            <a href="#"><img src="~/Public/images/author.png" alt="">Ridoy rajoan</a>
                            <a href="#"><i class="fa fa-eye"></i>4658</a>
                            <a href="#"><i class="fa fa-share-alt"></i>325</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/Breadcrumb-->
<!--Content Section-->
<section class="section-padding-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                @foreach (var item in Model.Posts)
                {
                <div class="post-details">
                    <h4 class="mb-3 ">@item.Title</h4>
                    <p>
                       @item.Description
                    </p>
                    
                    <div class="post-img">
                        <img src="~/Uploads/@item.Photo" alt="">
                        <p>@item.AuthorComment</p>
                    </div>
                    @Html.Raw(item.Text)

                    <blockquote>
                        <p>@item.Commnet</p>
                    </blockquote>
                </div>
                }
                
            </div>
        </div>
    </div>
</section><!--/Content Section-->
