@model ContactViewModel
@{
    ViewBag.Title = "Index";
}

<!--Breadcrumb-->
<section class="breadcrumb-section gray-bg-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li>Contact</li>
                </ul>
                <div class="banner-title">
                    <h2>Contact us</h2>
                </div>
            </div>
        </div>
    </div>
</section><!--/Breadcrumb-->
<!--Content Section-->
<section class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                <div class="page-contents centered">
                    <h2>@Model.ContactUs.Tittle</h2>
                    <p>@Model.ContactUs.Desc</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 mb-30">
                <img src="~/Public/images/@Model.ContactUs.Photo" alt="">
            </div>
            <div class="col-xl-6">
                <div class="contact-form">
                    <form action="#">
                        <h4>Get in touch</h4>
                        <p>Send us a message if you need any help</p>
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Phone">
                        <input type="email" placeholder="Email">
                        <textarea name="msg" rows="4" placeholder="Your message"></textarea>
                        <button type="submit" class="bttn-mid btn-fill">Send message</button>
                    </form>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="contact-content">
                    <h4>Contact Details</h4>
                    
                    <p>@Model.ContactUs.Location</p>
                    <h5>Call for emergencies</h5>
                    
                    <p>@Model.ContactUs.Number</p>
                    <div class="social">
                        @foreach (var item in Model.SocialLinks)
                        {
                            <a href="@item.Url" class="facebook-bg"><i class="fa fa-@item.Icon"></i></a>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/Content Section-->
